@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}




.eventListItem {
  background-color: white;
  border-width: 1px;
  border-color: rgb(229 231 235);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  
  height: 11rem;
  position: relative;

  @media (min-width: 768px) {
    max-width: 48
    
    
    30rem;
    flex-direction: row;
  }

  @media (prefers-color-scheme: dark) {
    border-color: rgb(55 65 81);
    background-color: rgb(31 41 55);
  }
 
}

.eventListItem:hover {
  background-color: #f7fafc;

  @media (prefers-color-scheme: dark) {
    background-color: rgb(55 65 81);
  }
}

.eventCardContainer {
  overflow-y: auto;
  scroll-behavior: auto;
  /*margin: 1.5rem;*/
}

.eventTypeContainer {
  width: 24%;
  height: 85%;
  flex-direction: column;
}

.test {
  grid-auto-columns: minmax(0, 1fr);
}